version: 1

# Rules to match for a machine to qualify
target:
  id: {{ machine_id }}

timeouts:
  first_console_activity:  # This limits the time it can take to receive the first console log
    minutes: 2
    retries: 0
  console_activity:  # Reset every time we receive a message from the logs
    minutes: 1
    retries: 0
  overall:           # Maximum time the job can take, not overrideable by the "continue" deployment
    minutes: 2
    retries: 0
    # no retries possible here

console_patterns:
    session_end:
        regex: "^MaRS: Registration .*$"
    job_success:
        regex: "^MaRS: Registration complete$"

# Environment to deploy
deployment:
  # Initial boot
  start:
    kernel:
      url: "http://10.42.0.1:9000/boot/default_kernel"
      cmdline:
        - b2c.container="-ti --tls-verify=false docker://10.42.0.1:8002/mupuf/valve-infra/machine_registration:latest register"
        - b2c.ntp_peer="10.42.0.1" b2c.cache_device=none loglevel=6
    initramfs:
      url: "http://10.42.0.1:9000/boot/default_boot2container.cpio.xz"
